body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fce8ff;
  text-align: center;
}

.page {
  display: none;
  padding: 20px;
}

.active {
  display: block;
}

h1 {
  color: #c1121f;
  margin-bottom: 20px;
}

.img-box {
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.yes {
  background: #ff6b6b;
  color: white;
}
.yes:hover { background: #ff3b3b; }

.no {
  background: white;
  color: #ff6b6b;
  border: 2px solid #ff6b6b;
}
.no:hover { background: #ffecec; }

.img-bro {
  background: white;
  padding: 20px;
  border-radius: 200px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.message-box {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  line-height: 1.6;
  text-align: justify;
}

.return-btn {
  margin-top: 20px;
  background: #457b9d;
  color: white;
}
.return-btn:hover {
  background: #1d3557;
}
